html {
    scroll-behavior: smooth;
}
p {
    margin: 0; }
a {
    text-decoration: none; }
.flex {
    display: flex; }
.banner {
    flex-wrap: wrap;
    flex-direction: row; }
.main {
    margin-top: 10px; }
.mainImgDiv {
    margin-left: 10%;
    width: 60%; }
.mainImg {
    width: 100%;
    border-radius: 5px; }
.info {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 140%;
    text-align: center; }
.date {
    padding-top: 2%;
    margin-bottom: 15px;
    margin-left: 10%;
    font-size: 150%;
    text-align: center;
    width: 60%; }

.sideBar {
    margin-top: 2%;
    font-size: 150%;
    width: 20%;
    color: white;
    font-family: 'Lobster', cursive; }

.address {
    padding-bottom: 5%; }
.addr {
    padding-top: 15%;
    padding-bottom: 5%;
    width: 100%;
    text-align: center; }
.registry {
    margin-left: 20%;
    width: 100%; }
.hr {
    width: 35%;
    margin-bottom: 10%; }
.registryHead {
    text-align: center; 
    margin-bottom: 5%;
}
.registryItem {
    width: 50%;
    margin: 5%;
    margin-bottom: 10%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    text-align: center;
    box-shadow: 5px 5px #000; }
.registryImg {
    width: 60%;
    margin: 20%;
    margin-top: 0px;
    margin-bottom: 5px; }

.mapouter {
    text-align:center;
    width: 100%;
    height: 25vh;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width: 100%;
    height: 25vh;

}

.aboutus {
    color: white;
    font-size: 300%;
    margin-top: 25px;
    margin-left: 10%;
    font-family: 'Lobster', cursive;
}

.aboutusp {
    color: #333;
    border-radius: 50px;
    margin-left: 10%;
    margin-right: 26%;
    padding: 2%;
    font-size: 125%;
}

.convoher {
    display: flex;
    flex-wrap: wrap;
}

.convohim {
    display: flex;
    flex-wrap: wrap-reverse;
}

.imgDiv {
    width: 10%;
    padding: 10%;
    padding-top: 5%;
}

.herIMG {
    width: 100%;
    margin-left: 50%;
    border-radius: 50%;
}

.himIMG {
    width: 100%;
    margin-left: -50%;
    border-radius: 50%;
}

.together {
    width: 50%;
    background-color: #f5f5f5;
    border: 5px solid rgb(255, 181, 147);
    border-radius: 50px;
    border-top-left-radius: 0px;
    padding: 25px;
    margin: 3%;
    text-align: center;
}

.her {
    color: #333;
    text-align: left;
}

.him {
    color: #333;
    border-radius: 50px;
    border-top-right-radius: 0px;
    text-align: right;
}

.us {
    color: #333;
    border-top-right-radius: 0px;
    width: 80%;
}

.them {
    color: white;
    margin: 2%;
    font-family: 'Lobster', cursive;
    font-size: 140%;
    text-align: center;
}

@media only screen and (max-width: 1000px) {

    .mainImgDiv {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .sideBar {
        width: 100%;
        min-width: 400px;
    }

    .date {
        width: 100%;
        margin-left: 0px;
    }

    .hr {
        margin-bottom: 5%;
    }

    .registry {
        margin-left: 0%;
    }

    .registryHead {
        margin-bottom: 5%;
        font-size: 150%;
    }

    .addr {
        font-size: 150%;
        padding-top: 0px;
        padding-bottom: 5%;
    }

    .aboutus {
        margin-left: 0px;
        text-align: center;
    }

    .aboutusp {
        margin: 0px;
    }

    .imgDiv {
        min-width: 100px;
        
    }

    .together {
        min-width: 100px;
    }

}

@media only screen and (max-width: 800px) {
    .imgDiv {
        min-width: 100px;
        margin: auto;
        padding: 0px;
    }

    .herIMG {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .himIMG {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .together {
        width: 80%;
        min-width: 100px;
        margin-left: 10%;
        
    }


}