.flexStyle {
    display: flex;
}

.navbar {
    background-color: white;
    color: #2a2a2a;
    font-family: 'Lobster', cursive;
    border-bottom: 1px solid;
    width: 100%;
}

.leftNav {
    padding-top: 20px;
    padding-left: 10%;
    width: 65%;
    font-size: 250%;
}

.rightNav {
    width: 35%;
    padding: 15px;
    padding-top: 10px;
    text-align: right;
    font-size: 120%;
}

.list {
    margin-right: 25px;
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

@media only screen and (max-width: 1000px) {

    .navbar {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .leftNav {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }
    .rightNav {
        width: 100%;
        padding-bottom: 0px;
    }
    .list {
        width: 30%;
        text-align: center;
    }

}